/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */

@font-face
	{
		font-family:'Lato-Regular';
		src: local('Lato-Regular');
		src: url('../../fuentes/Lato2OFL/Lato-Regular.ttf');
		src: url('../../fuentes/Lato2OFL/Lato-Regular.ttf?#iefix') format('embedded-opentype'),
		
		
	}

@font-face
	{
		font-family:'Lato-Bold';
		src: local('Lato-Bold');
		src: url('../../fuentes/Lato2OFL/Lato-Bold.ttf');
		src: url('../../fuentes/Lato2OFL/Lato-Bold.ttf?#iefix') format('embedded-opentype'),
		
		
	}

	
@font-face
{
	font-family:'SoberanaSans-Regular';
	src: url('../../tipografias/SoberanaSans/SoberanaSans-Regular.otf');
	src: url('../../tipografias/SoberanaSans/SoberanaSans-Regular.otf?#iefix') format('embedded-opentype'),
}

.clearfix 
{
	clear: both;
}

.wrap {
	width: 95%;
	
	padding:0px;
	/*border:1px solid #d1d1d1;*/
}

nav 
{
	/*background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#fff, #ccc);*/
	background-color:#FFF;
	
	
	padding: 0 10px;
	position: relative;
}

.menu li 
{
	float: left;	
	position: relative;
	text-align:left;
	font-family:Lato-Regular;
	width:200px;
	
	border-right-color: #424852;
	border-right-style:solid;
	border-right-width:1px;
	padding:2px;
	text-align:center;
	margin-bottom:3px;
	
	
	
	
	
}

.menu li ul
{
	border-color: #FFF;
	border-style:solid;
	border-width:1px;
	
	
	border-right-color: #CCC;
	border-right-style:solid;
	border-right-width:1px;
	
	border-left-color: #CCC;
	border-left-style:solid;
	border-left-width:1px;
	
	border-top-color: #CCC;
	border-top-style:solid;
	border-top-width:1px;
	background-color: #EFEFEF;

}
.menu li ul li
{
	border-right-color: #FFF;
	border-right-style:solid;
	border-right-width:1px;
}

.menu li a 
{
	color: #424852;
	display: block;
	font-size: 13px;
	line-height: 20px;
	padding: 3px 12px;
	margin: 4px 4px;
	vertical-align: middle;
	text-decoration: none;
	font-family:Lato-Regular;	
}



/* Dropdown styles */

.menu ul 
{
	position: absolute;
	left: -9999px;
	list-style: none;	
	opacity: 1;
	width:250px;
	transition: opacity 1s ease;
	z-index:10000;
	font-family:Lato-Regular;
	border:1px solid #d1d1d1;
	
}

.menu ul li 
{
	float: none;
	width:250px;
	font-family:Lato-Regular;
	border-bottom-style:dotted;
	border-bottom-color:#BBB;
	border-bottom-width:1px;
	width:auto;
	text-align:left;
	
	
}

.menu ul li:last-child
{
	border-bottom-style:none;
}

.menu ul a 
{
	white-space: nowrap;
	font-family:Lato-Regular;
	overflow:hidden;
	word-wrap:break-word;
	white-space:normal;
}

/* Displays the dropdown on hover and moves back into position */
.menu li:hover ul 
{
	//background: rgba(255,255,255,1);
	background-color: #FFF;
	left: 5px;
	opacity: 1;
	font-family:Lato-Regular;
	

}

/* Persistant Hover State */
.menu li:hover a 
{
	/*background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#ededed));
	background-image: linear-gradient(#ccc, #ededed);*/
	box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
	background-color:#BCBCBC;
	color: #003761;
	font-family:Lato-Regular;

}

.menu li:hover ul a 
{
	background-color: #003761;
	border-radius: 0;
	box-shadow: none;
	font-family:Lato-Regular;
	
}

.menu li:hover ul li 
{
	background-color:#FFF;
	
}

.menu li:hover ul li  a
{
	background-color:#FFF;
	color:#424852 !important;
	
}


.menu li:hover ul li a:hover 
{
	/*background: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#fff));
	background-image: linear-gradient(#ededed, #fff);*/
	/*border-radius: 12px;*/
	/*background-color:#006FAE;*/
	border-radius: 0px;
	box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
	font-family:Lato-Regular;
	background-color:#EFEFEF;
	color:#003761;

	
}

.menu ul ul
{
	display:none;
	position: absolute;
	left: 250px !important;
	top: -3px;	
	opacity: 1;
	float:left;
	transition: opacity 1s ease;
	z-index:10000;
	font-family:Lato-Regular;
	border-style:solid;
	border-width:1px;
	border-color:#CCC;
	
}

.menu li ul li:hover ul
{
	display:block;
}



/*----*/
.menuItem_1
			{
				top:-78px;
			}
.menuItem_2
			{
				top:-104px;
			}
.menuItem_3
			{
				top:-130px;
			}
.menuItem_4
			{
				top:-156px;
			}
.menuItem_5
			{
				top:-182px;
			}
.menuItem_6
			{
				top:-208px;
			}
.menuItem_7
			{
				top:-234px;
			}
.menuItem_8
			{
				top:-260px;
			}
.menuItem_9
			{
				top:-286px;
			}
.menuItem_10
			{
				top:-312px;
			}
.menuItem_11
			{
				top:-338px;
			}
.menuItem_12
			{
				top:-364px;
			}
.menuItem_13
			{
				top:-390px;
			}
.menuItem_14
			{
				top:-416px;
			}
.menuItem_15
			{
				top:-442px;
			}
.menuItem_16
			{
				top:-468px;
			}
.menuItem_17
			{
				top:-494px;
			}
.menuItem_18
			{
				top:-520px;
			}
.menuItem_19
			{
				top:-546px;
			}
.menuItem_20
			{
				top:-572px;
			}
.menuItem_21
			{
				top:-598px;
			}
.menuItem_22
			{
				top:-624px;
			}
.menuItem_23
			{
				top:-650px;
			}
.menuItem_24
			{
				top:-676px;
			}
.menuItem_25
			{
				top:-702px;
			}
.menuItem_26
			{
				top:-728px;
			}
.menuItem_27
			{
				top:-754px;
			}
.menuItem_28
			{
				top:-780px;
			}
.menuItem_29
			{
				top:-806px;
			}
.menuItem_30
			{
				top:-832px;
			}
.menuItem_31
			{
				top:-858px;
			}
.menuItem_32
			{
				top:-884px;
			}
.menuItem_33
			{
				top:-910px;
			}
.menuItem_34
			{
				top:-936px;
			}
.menuItem_35
			{
				top:-962px;
			}
.menuItem_36
			{
				top:-988px;
			}
.menuItem_37
			{
				top:-1014px;
			}
.menuItem_38
			{
				top:-1040px;
			}
.menuItem_39
			{
				top:-1066px;
			}
.menuItem_40
			{
				top:-1092px;
			}